<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Ejs Course</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quisquam illum culpa voluptatem cumque! Quasi expedita atque nisi consequatur corporis iste possimus assumenda nihil quisquam, doloribus ex dolores incidunt culpa ut illo eligendi eos dolorum magni minima corrupti, itaque animi? Ex eligendi amet quam nemo asperiores, a vero laudantium possimus.</p>
    <button>click me!</button>
</body>
</html>